* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style-type: none;
}

.main__title {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 18px;
}

button {
    color: black;
}
